@import "../../index.scss";

.chat {
  border-radius: 22px;
  border: 1px solid $clr-border;
  background: $base-bg-clr;
  height: 506px;
  display: flex;
  flex-direction: column;
  justify-content: start;

  @media (min-width: 820px) {
    & {
      flex-direction: column-reverse;
      justify-content: end;
    }
  }

  &__input-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    margin: 10px 10px 8px 10px;
    height: 44px;
  }
  &__input {
    @extend %base-elem-styles;
    border-radius: 50px;
    padding: 10px 16px;
    flex-grow: 2;
    font-size: 16px;
  }

  &__comments-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;

    align-items: flex-start;

    @media (min-width: 820px) {
      & {
        flex-direction: column;
        justify-content: start;
      }
    }
  }

  &__comment {
    border-radius: 26px;
    border: 1px solid $clr-border;
    background: #f5f4f4;
    margin: 8px 8px 0 8px;
    padding: 8px 16px;
    text-align: left;
    max-width: 80%;
    word-wrap: break-word;
    font-size: 12px;

    &--yours {
      background-color: $clr-green;
      align-self: flex-end;
    }

    @media (min-width: 480px) {
      & {
        font-size: 14px;
      }
    }

    @media (min-width: 820px) {
      & {
        font-size: 16px;
      }
    }
  }

  &__comm-author {
    @extend %link;
    font-size: 12px;
    color: rgb(19, 77, 6);
    font-weight: 600;

    @media (min-width: 820px) {
      & {
        font-size: 14px;
      }
    }
  }
}