@import "../../index.scss";

.auth-wrapper {
  @extend %base-elem-styles;
  width: 80%;
  min-width: 288px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  filter: drop-shadow(10px 12px 5px rgba(0, 0, 0, 0.30));
  
  h1 {
    padding-bottom: 10px;
    font-size: 20px;
  }
}

.auth-form {
  margin-bottom: 20px;
  div {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    @extend %flex-row-container;
    flex-wrap: wrap;
    justify-content: flex-start;
  
    label {
      padding-right: 10px;
    }
  
    input {
      padding: 8px;
      @extend %base-elem-styles;
      border-radius: 10px;
      width: 240px;
    }
  }
}

.alert-msg {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
}

.auth_link {
  // margin: 20px;
  @extend %link;
  text-decoration: underline;
  // span {
  //   text-decoration: underline;
  // }
  // margin-top: 10px;
  // color: red;
}

@media (min-width: 480px) {
  .auth-wrapper {
    width: 480px;
    
    h1 {
      font-size: 24px;
    }
  }
}