@import "../../index.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}

.modal__dialog {
  display: inline-block;
  // width: auto;
  // height: auto;
  max-height: 100vh;
  max-width: 1260px;
  overflow-y: auto;
  text-align: right;

  @extend %base-elem-styles;
  @extend %shadow-filter;
}

.modal__content {
  padding: 0 18px 18px 18px;
  position: relative;
  // display: inline-flex;
  display: inline-block;
  min-height: 0;
  min-width: 0;
  // vertical-align: top;
  // height: 75vh;
  // overflow-x: hidden;
  // width: auto;
  // min-width: 320px;
  max-width: 1200px;
  // background-color: #c9c96d;
}

.close-wrapper {
  display: block;
  text-align: right;
}

.modal__close {
  
  // position: absolute;
  // right: 0;
  // top: 0;
  margin-right: 10px;
  margin-top: 6px;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 480px) {
  .modal__dialog {
   padding-bottom: 10px;
   margin: 20px;
   border-radius: 8px;
  }
}

@media (min-width: 820px) {

  .modal__dialog {
    max-height: 96vh;
  }

  .modal__content {
    padding: 0 18px 18px 18px;
  }
}

@media (min-width: 1024px) {

  .modal__dialog {
    margin: 40px;
  }
}