@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,800&family=Overpass+Mono:wght@300;400;600&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  //font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

//Reset styles values
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
//End reset styles values

$clr-light-gray: #EFE9E9;
$clr-gray: #E4DBDB;
$clr-border: #cecaca;
$clr-disabled: #817e7e;
$clr-dark-gray: #201E1E;
$clr-green: #A2D4A4;
$clr-dirty-green: #a1c2a2;
$clr-yellow: #E4E67E;
$base-bg-clr: #fff;
$clr-active-text: #06890B;

$fz-logo: 20px;
$fz-logo-lg: 24px;

$min-width: 360px;

$header-height-sm: 50px;
$header-height-md: 55px;
$header-height-lg: 60px;

$search-height-sm: 38px;
$search-height-md: 45px;

$feeds-switcher-height: 35px;

$gaps-width: 60px;
$logo-width: 100px;
$menu-width: 200px;
$base-height: 50px;

%flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

%base-elem-styles {
  border: 2px solid $clr-border;
  background-color: $base-bg-clr;
}

%shadow-filter {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

%link {
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

%btn {
  @extend %base-elem-styles;
  @extend %shadow-filter;

  &:hover {
    cursor: pointer;
    background-color: $clr-gray;
  }
  &.active:hover {
    background-color: $clr-dirty-green;
  }
  &:focus-visible {
    border-color: $clr-dark-gray;
  }
  &:active{
    background-color: $clr-green;
  }
  &:disabled{
    background-color: $clr-disabled;
  }
}

%rounded-btn {
  @extend %btn;
  border-radius: 50px;
}

%text-btn {
  @extend %rounded-btn;
  padding: 0 12px;
  height: 40px;
  font-size: 16px;

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

%icon-btn {
  @extend %rounded-btn;
  height: 40px;
  width: 40px;
}

%icon {
  height: 18px;
  display: inline-block;
  padding-top: 2px;

  @media (min-width: 1024px) {
    & {
      height: 22px;
    }
  }
}